@model Author
@{
    ViewData["Title"] = "AuthorBooks";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                نام نویسنده کتاب:@Model.FirstName @Model.LastName
                
            </div>
            <p>
                <a asp-action="Create" class="btn btn-primary">افزودن نویسنده جدید </a>
            </p>
            <div class="body">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>
                              عنوان  کتب
                            </th>
                            <th>
                              شابک
                            </th>
                            <th>
                                ناشر
                            </th>
                            <th>
                           زبان
                            </th>
                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Author_Books )
                        {
                            <tr>
                                <td>
                                   @item.Book.Title
                                </td>
                                <td>
                                    @item.Book.ISBN
                                </td>
                                <td>
                                    @item.Book.Publisher.PublisherName
                                </td>
                                <td>
                                    @item.Book.Language.LanguageName
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.AuthorID" class="btn btn-success btn-icon">
                                        <i class="fa fa-edit">

                                        </i>
                                    </a> |
                                    <a asp-action="Details" asp-route-id="@item.AuthorID" class="btn btn-info btn-icon">
                                        <i class="fa fa-eye">

                                        </i>
                                    </a> |
                                    <a asp-action="Delete" asp-route-id="@item.AuthorID" class="btn btn-danger btn-icon">
                                        <i class="fa fa-trash">

                                        </i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

