@model IEnumerable<ProjectBookShop.Models.ViewModels.BooksIndexViewModel>
@inject ProjectBookShop.Models.ConvertMladiToShamsi Convertdate
@{
    ViewData["Title"] = "Advancedsearch";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
           
            <div class="card-header bg-light">
             نتایج جسنجو پیشرفته
            </div>
            <div class="col-md-4">
                <a href="Index" class="float-left"><i class="fa fa-arrow-alt-circle-left">لیست کتاب ها</i></a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ردیف</th>
                                <th>عنوان</th>
                                <th>زبان</th>
                                <th>نویسندگان</th>
                                <th>مترجمان</th>
                                <th>دسته بندی</th>
                                <th>شابک</th>
                                <th>ناشران</th>
                                <th class="text-center">قیمت</th>
                                <th class="text-center"> تاریخ انتشار در سایت</th>
                                <th style="width:25px;">وضعیت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                            }

                            @foreach (var item in Model)
                            {


                                <tr>
                                    <td class="text-center">@i</td>
                                    <td class="text-nowrap">@item.Title</td>
                                    <td>@item.Language</td>
                                    <td>@item.Author</td>
                                    <td>@item.Translatorr</td>
                                    <td>@item.category</td>
                                    <td>@item.ISBN</td>
                                    <td>@item.PublusherName</td>
                                    <td class="text-center">
                                        @item.Price.ToString("#,0 Rial")
                                    </td>
                                    <td class="text-center">@Convertdate.PersianDate(Convert.ToDateTime( item.PublisheDate),null)</td>
                                    <td class="text-center">
                                        <label class="badge badge-success btn-block">@item.Ispublise</label>
                                    </td>
                                    <td class="text-center">
                                        <a class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>
                                        <a class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>
                                        <a class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                                    </td>
                                </tr>
                                i++;
                            }


                        </tbody>
                    </table>
                   
                </div>
               
            </div>
        </div>
    </div>
</div>
