@model ReflectionIT.Mvc.Paging.PagingList<ProjectBookShop.Models.ViewModels.BooksIndexViewModel>
@* @inject ProjectBookShop.Models.ConvertMladiToShamsi Convertdate *@
@inject ProjectBookShop.classes.ConvertDate convert
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using ReflectionIT.Mvc.Paging
@addTagHelper *,ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                لیست کتاب ها
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-4 mb-3 ">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> جستجو</button>
                                </span>
                                <input id="input-group-1" name="title" class="form-control" placeholder="عنوان کتاب را واردکنید ..." type="text">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row form-group">
                                <label class="ml-2">تعداد ردیف</label>
                                <div class="col-md-4  padding-0px">
                                    <select class="select2" name="row" asp-items="@ViewBag.RowID"></select>
                                </div>
                                <div class="col-md-3 padding-0px">
                                    <input type="submit" value="نمایش بده" class="btn btn-primary float-left" />
                                </div>
                            </div>

                        </div>
                        @{
                            if (ViewBag.Seaerch!="")
                            {
                                
                                <div class="col-md-4">
                                    <a href="Admin/Book/Index" class="float-left"><i class="fa fa-arrow-alt-circle-left">لیست کتاب ها</i></a>
                                </div>
                            }
                        }
                       
                    </div>
                </form>
                
               
                
                <p>
                    <a class="btn btn-primary btn-block" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        جستجوی پیشرفته کتاب
                    </a>
                </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <form asp-action="Advancedsearch">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">عنوان</label>
                                        <input name="Title" class="form-control" placeholder="عنوان">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">شابک</label>
                                        <input name="ISBN" class="form-control" placeholder="شابک">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">زبان</label>
                                        <select name="Language" asp-items="@ViewBag.LanguageID" class="select2 js-states form-control">
                                            <option value=""></option>
                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">دسته بندی</label>
                                        <input type="text" name="category" id="justAnotherInputBox" name="Catagory" placeholder="جستجو کنید" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">نویسنده</label>
                                        <select name="Author" asp-items="ViewBag.AuthorID" class="select2 js-states form-control">
                                            <option selected> </option>
                                            
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label  class="form-control-label">مترجم</label>
                                        <select name="Translatorr" asp-items="ViewBag.TranslatorID " class="select2 js-states form-control">
                                            <option value=""></option>
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="form-control-label">ناشر</label>
                                        <select name="PublusherName" asp-items="ViewBag.PublisherID" class="select2 js-states form-control">
                                            <option value=""></option>

                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <input type="submit" value="جستجو" class="btn btn-success float-left" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <div class="table-responsive">
                    @{
                        if (ViewBag.Msg != null)
                        {
                            <div class="alert alert-danger alert-dismissable">
                            @ViewBag.Msg
                            <button type="button" class="close"  aria-label="close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        }
                    }
                    <form  asp-action="Buy" >
                        
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>انتخاب</th>
                                <th>ردیف</th>
                                <th>@Html.SortableHeaderFor(model => model.Title,"Title")</th>
                                <th>@Html.SortableHeaderFor(model => model.Language, "Language")</th>
                                <th>@Html.SortableHeaderFor(model => model.Author, "Author")</th>
                                <th>@Html.SortableHeaderFor(model => model.Translatorr, "Translatorr")</th>
                                <th>@Html.SortableHeaderFor(model => model.ISBN, "ISBN")</th>
                                <th>@Html.SortableHeaderFor(model => model.PublusherName, "PublusherName")</th>
                                <th class="text-center">@Html.SortableHeaderFor(model => model.Price, "Price")</th>
                                <th class="text-center"> @Html.SortableHeaderFor(model => model.PublisheDate, "PublisheDate")</th>
                                <th style="width:25px;">@Html.SortableHeaderFor(model => model.Ispublise, "Ispublise")</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            @{
                                int i = ViewBag.NumOfPage;
                            }
                           
                            @foreach (var item in Model)
                            {
                                

                                <tr>
                                    <td><input type="checkbox" id="responsable" name="selectedIds" value="@item.BookID" /></td>
                                    <td class="text-center">@i</td>
                                    <td class="text-nowrap">@item.Title</td>
                                    <td>@item.Language</td>
                                    <td>@item.Author</td>
                                    @{if (item.Translatorr!="")
                                    {
                                            <td>@item.Translatorr</td>
                                        }else
                                        {
                                            <td class="text-center"><centr><span>----</span></centr></td>
                                        }
                                    }
                                    
                                    <td>@item.ISBN</td>
                                    <td>@item.PublusherName</td>
                                    <td class="text-center">
                                        @item.Price.ToString("#,0 Rial")
                                    </td>
                                    
                                    <td class="text-center">@item.PublisheDate</td>
                                    <td class="text-center">
                                        <label class="badge badge-success btn-block">@item.Ispublise</label>
                                    </td>
                                    <td class="text-center">
                                        <a href="/Admin/Book/Details/@item.BookID" class="btn btn-info btn-icon"><i class="fa fa-eye text-white"></i></a>
                                        <a href="/Admin/Book/Edit/@item.BookID" class="btn btn-success btn-icon"><i class="fa fa-edit text-white"></i></a>
                                        <a href="/Admin/Book/Delete/@item.BookID" class="btn btn-danger btn-icon"><i class="fa fa-trash text-white"></i></a>
                                    </td>
                                </tr>
                                i++;
                            }

                             
                        </tbody>
                        
                   
                   </table>
                        <div>
                            <button type="submit" class="btn btn-primary float-left">خرید</button>
                        </div>

                    </form>
                 <ul>
                        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
                 </ul>
              
                    @* <nav class="text-center">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">قبلی</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">بعدی</a>
                            </li>
                        </ul>
                    </nav> *@
                </div>
            </div>
           

        </div>
    </div>
</div>


<script type="text/javascript">
    var SampleJSONData = @Html.Raw(Json.Serialize(ViewBag.Categories));
    var comboTree2;

    jQuery(document).ready(function ($) {
        comboTree2 = $('#justAnotherInputBox').comboTree({
            source: SampleJSONData,
            isMultiple: false
        });
    });</script>